[Unit]
Description=The world's most widely used MTA

[Service]

StandardError=syslog

ExecStart=/usr/sbin/sendmail -bD 

KillSignal=KILL
[Install]
WantedBy=sockets.target

