[Unit]
Description= The worlds most widely used MTA

[Socket]
BindIPv6Only=ipv6-only


ListenStream=0.0.0.0:25
ListenStream=[::]:25
ListenStream=0.0.0.0:587
ListenStream=[::]:587

KeepAlive=true

#Service=sendmail-mta.service


